<!-- Basic information about this page -->
<meta charset="UTF-8" />
<link rel="icon" type="image/x-icon" href="/assets/img/favicon.png" />
<title>
  {% if page.title %}
  {{ page.title }} :: {% endif %}
  {{ site.title }}
</title>


<!-- monetization -->
<meta name="monetization" content="$coil.xrptipbot.com/tfovKD9TSMyNEvYlvqfZzg">

<!-- Meta tag looking for mobile devices -->
<meta name="viewport" content="initial-scale=1.5" />
<meta name="theme-color" content="#232323" />

<!-- Good information about this page -->
<meta
  name="description"
  content="{% if page.description %}{{ page.description }}{% else %}{{
    site.description
  }}{% endif %}"
/>
<meta
  name="keywords"
  content="{{ site.keywords }}{% if page.keywords %}, {{
    page.keywords
  }}{% endif %}"
/>
<meta name="author" content="{{ site.name }}" />

<!-- Feed links -->
<link
  rel="alternate"
  type="application/rss+xml"
  title="{{ site.name }}'s RSS Feed"
  href="/rss.xml"
/>
<link
  rel="alternate"
  type="application/atom+xml"
  title="{{ site.name }}'s Atom Feed"
  href="/atom.xml"
/>

<!-- Style and scripts files -->
<link rel="stylesheet" type="text/css" href="/assets/css/style.css" />

<!-- Extra information about this page -->
<link rel="license" type="text/plain" src="/assets/LICENSE" />

<meta
  name="google-site-verification"
  content="{{ site.google_verification }}"
/>

{% include open_graph_cards.html %} {% if site.ssl %}
<script type="text/javascript">
  if (window.location.protocol != "https:")
    window.location.href =
      "https:" +
      window.location.href.substring(window.location.protocol.length);
</script>

<script>
  (function(i, s, o, g, r, a, m) {
    i["GoogleAnalyticsObject"] = r;
    (i[r] =
      i[r] ||
      function() {
        (i[r].q = i[r].q || []).push(arguments);
      }),
      (i[r].l = 1 * new Date());
    (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m);
  })(
    window,
    document,
    "script",
    "https://www.google-analytics.com/analytics.js",
    "ga"
  );
  ga("create", "UA-81379834-1", "auto");
  ga("send", "pageview");
</script>
{% endif %}
